<h2>Ruby on Rails 指南 (<%= @version %>)</h2>

<p>
  这是 Rails 5.2 的最新指南，基于 <a href="https://github.com/rails/rails/tree/<%= @version %>"><%= @version %></a>。
  这份指南旨在使您立即获得 Rails 的生产力，并帮助您了解所有组件如何组合在一起。
</p>
<p>
其他版本的官方指南(英文)：
<a href="http://guides.rubyonrails.org/v6.1/">Rails 6.1</a>，
<a href="http://guides.rubyonrails.org/v6.0/">Rails 6.0</a>，
<a href="http://guides.rubyonrails.org/v5.2/">Rails 5.2</a>，
<a href="http://guides.rubyonrails.org/v5.1/">Rails 5.1</a>，
<a href="http://guides.rubyonrails.org/v5.0/">Rails 5.0</a>，
<a href="http://guides.rubyonrails.org/v4.2/">Rails 4.2</a>，
<a href="http://guides.rubyonrails.org/v4.1/">Rails 4.1</a>，
<a href="http://guides.rubyonrails.org/v4.0/">Rails 4.0</a>，
<a href="http://guides.rubyonrails.org/v3.2/">Rails 3.2</a>
<a href="http://guides.rubyonrails.org/v3.1/">Rails 3.1</a>
<a href="http://guides.rubyonrails.org/v2.3/">Rails 2.3</a>
</p>
